* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.fix {
    position: relative;
    top: 0;
    left: 0;
    width: 1550px;
    height: 90px;
    background-color: black;
}

.fix-a {
    position: absolute;
    top: 26px;
    left: 48px;
}

.fix-ul {
    position: absolute;
    top: 0px;
    left: 442px;
    line-height: 49px;
    padding: 3px;
}

.fix-ul>li {
    float: left;
    padding: 9px;
    font-size: 16px;
}

.fix-ul>li>a {
    color: whitesmoke;
    font-weight: 300;
}

.items-list {
    padding-top: 30px;
    padding-right: 90px;
    float: left;
    width: 65px;
    height: auto;
    position: relative;
    right: 479px;
    top: 25px;
    display: none;
    z-index: 100;
}

.fix-ul li:hover .items-list {
    display: block;
}

.document-title {
    color: #666;
    cursor: default;
    z-index: 10;
}

.boom {
    position: relative;
    top: 17px;
    left: 1300px;
    width: 75px;
    height: 58px;
}

.boom a {
    color: aliceblue;
}

.boom-sun {
    width: 64px;
    height: auto;
    display: none;
    background-color: #887c7c;
    line-height: 36px;
    z-index: 100;
}

.boom li:hover .boom-sun {
    display: block;
    background-color: #887c7c;
}

.boom-d {
    position: absolute;
    right: -50px;
    top: 22px;
}

.boom-b {
    border: 1px solid white;
    border-radius: 18%;
    padding: 8px;
}

.boom-b:hover {
    background-color: skyblue;
}

.boom-c {
    position: absolute;
    top: 22px;
    z-index: 100;
}

.conter {
    width: 1550px;
    height: 500px;
    border: 3px solid #333;
    overflow: hidden;
    position: relative;
    top: 32px;
    margin: -32px;
}

.list {
    width: 6000px;
    height: 500px;
    position: absolute;
    z-index: 1;
    transform: translate(0, 0);
    background: url(./image/2.jpg);
    animation: loop 10s linear infinite;
}


/* .list-2 {
    width: 6000px;
    height: 500px;
    position: absolute;
    z-index: 1;
    transform: translate(0, 0);
    background: url(../image/26.png);
    animation: loop 10s linear infinite;
} */


/* @keyframes loop {
    0% {
        transform: translate(0, 0);
    }
    15% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-1320px, 0);
    }
    35% {
        transform: translate(-1320px, 0);
    }
    40% {
        transform: translate(-2640px, 0);
    }
    55% {
        transform: translate(-2640px, 0);
    }
    /* 60% {
        transform: translate(-4380px, 0);
    }
    75% {
        transform: translate(-4380px, 0);
    }
    80% {
        transform: translate(-5840px, 0);
    }
    95% {
        transform: translate(-5840px, 0);
    } */

.list img {
    position: absolute;
    top: 40px;
    left: 205px;
    /* transform: translateY(1%); */
    transform: translateX(4%);
    margin-left: 200px;
    transition: all 2s;
}

.list img:hover {
    margin-top: 50px;
    margin-left: 250px;
}

.list:hover a {
    transform: translateY(30%);
    transform: translateX(20%);
}

.mid {
    position: relative;
    width: 1200px;
    top: 103px;
    left: 190px;
}

.mid-boss {
    width: 25%;
    box-sizing: border-box;
    height: 60%;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.mid-one-world {
    height: 100%;
    width: 69%;
    float: left;
    text-align: left;
    padding-left: 15px;
    box-sizing: border-box;
    padding-top: -20px;
}

.mid-one-img {
    height: 100%;
    width: 18%;
    float: left;
}

.mid-one-img img:hover {
    margin-top: -10px;
    transition: 0.8s;
}

.mid-one-world a:hover {
    color: #5c90d2;
}

.advantage {
    position: relative;
    top: 240px;
    left: 359px;
    height: 636px;
    width: 58%;
    background: url(./image/3.png);
    background-size: 1350px;
}

.advantage-mid-top {
    position: absolute;
    left: 600px;
    font-size: 29px;
    left: 322px;
}

.advantage-mid-top hr {
    width: 84px;
    color: #276e6e;
    position: absolute;
    left: 70px;
}

.advantage-mid-bottom-left {
    width: 17%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding-left: 8%;
}

.advantage-mid-bottom {
    width: 50%;
    height: 200px;
    float: left;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
}

.advantage-mid-bottom-left img {
    position: relative;
    top: 30%;
}

.advantage-mid-bottom-right {
    height: 100%;
    width: 83%;
    float: left;
    box-sizing: border-box;
    padding-right: 50px;
    padding-top: 8%;
}

.advantage-mid-bottom-right h1 {
    font-size: 25px;
    color: #4f515e;
    font-weight: 400;
}

.advantage-mid-bottom-right p {
    font-size: 14px;
    color: #7b7d8a;
    padding: 27px;
}

.hr-1 {
    width: 40px;
    height: 1.5px;
    border: none;
    background-color: #57a3f1;
}

.hr-2 {
    width: 40px;
    height: 1.5px;
    border: none;
    background-color: #57a3f1;
}

.advantage-mid-bottom:hover .advantage-mid-bottom-right hr {
    width: 100px;
    transition: 1s;
}

.pro {
    width: 100%;
    height: 681.2px;
}

.pro-top {
    width: 100%;
    height: 35%;
    box-sizing: border-box;
    padding-top: 9%;
}

.pro-top h1 {
    text-align: center;
    font-size: 30px;
    color: #4f515e;
    font-weight: 400;
}

.pro-top hr {
    width: 32px;
    height: 1.5px;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

.pro-bottom {
    width: 78%;
    height: 56%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.pro-bottom a {
    text-decoration: none;
    color: #4f515e;
    font-size: 30px;
}

.ever {
    margin-top: 25px;
    width: 100%;
    height: 47%;
}

.pro-bottom a:hover {
    color: #57a3f1;
}

.pro-bottom p {
    color: #7b7d8a;
    margin-top: 10px;
}

.pro-bottom p:hover {
    color: #57a3f1;
}

.pro-bottom button {
    color: #fff;
    border-radius: 3px;
    background-color: #57a3f1;
    border: none;
    width: 180px;
    height: 42px;
    font-size: 16px;
    margin-top: 50px;
}

.ever-2 {
    position: relative;
    margin-bottom: 20px;
}

.pro-bottom button:hover {
    background-color: #2e77c0;
    transition: 1s;
    cursor: pointer;
}

.pro-bottom-one {
    height: 100%;
    width: 33.33%;
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    float: left;
    box-sizing: border-box;
    padding-top: 40px;
}

.function {
    height: 708px;
    width: 100%;
    background-image: url('./image/2.png');
}

.function-top {
    width: 100%;
    height: 26.5%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 4%;
}

.function-top h1 {
    color: #fff;
    font-weight: 500;
}

.function-top hr {
    width: 30px;
    height: 2px;
    border: none;
    background-color: #57a3f1;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

.function-bottom {
    height: 60%;
    width: 78%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.function-bottom-t {
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #585a61;
}

.function-bottom-one {
    width: 25%;
    height: 200%;
    border: 1px solid #585a61;
    float: left;
    box-sizing: border-box;
}

.function-bottom-one-logo {
    height: 211px;
    width: 100%;
    position: relative;
    text-align: center;
}

.function-bottom-one-logo img {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
}

.function-bottom-one-world {
    height: 211px;
    width: 100%;
    position: relative;
    top: -428px;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(88, 87, 87, 0.5);
}

.function-bottom-one:hover {
    cursor: pointer;
    margin-top: 215px;
    transition: 0.5s;
}

.function-bottom-one-world p {
    line-height: 30px;
    color: #fff;
    font-size: 14px;
}

.industry {
    width: 100%;
    height: 214.6px;
}

.industry-top {
    box-sizing: border-box;
    padding-top: 100px;
}

.industry-top hr {
    width: 30px;
    height: 2px;
    border: none;
    background-color: #57a3f1;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

.industry-top h1 {
    text-align: center;
    font-weight: 500;
    color: #4f515e;
}

.picture {
    width: 100%;
    height: 704px;
    background-image: url('./image/22.jpg');
    text-align: center;
}

.picture-y {
    width: 310px;
    height: 200px;
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.picture-y-w {
    width: 310px;
    height: 116px;
    border: 1px solid #7b7d8a;
    border-bottom: 5px solid yellow;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    list-style: none;
    text-align: left;
    display: none;
}

.picture-y:hover .picture-y-w {
    display: block;
}

.picture-y-r {
    height: 45px;
    width: 45px;
    border-radius: 22.5px;
    background-color: rgba(235, 235, 81, 0.507);
    border: none;
}

.picture-y-r:hover {
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    transition: 1s;
}

.picture-y-r1 {
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 10px;
    background-color: yellow;
    position: relative;
    left: 60%;
    margin-left: -14px;
}

.picture-y-r1-li {
    color: yellow;
    list-style: none;
}

.picture-y-r1-li:hover .picture-y-w {
    display: block;
}

.picture-x {
    width: 310px;
    height: 200px;
    position: absolute;
    left: 19%;
    transform: translateX(-50%);
    margin-top: 300px;
}

.picture-x-w {
    width: 310px;
    height: 116px;
    border: 1px solid #7b7d8a;
    border-bottom: 5px solid rgb(0, 217, 255);
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    list-style: none;
    text-align: left;
    display: none;
    color: rgb(83, 76, 121);
}

.picture-x:hover .picture-x-w {
    display: block;
}

.picture-x-r {
    height: 45px;
    width: 45px;
    border-radius: 22.5px;
    background-color: rgb(4, 103, 121);
    border: none;
}

.picture-x-r:hover {
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    transition: 1s;
}

.picture-x-r1 {
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(57, 195, 219);
    position: relative;
    left: 60%;
    margin-left: -14px;
}

.picture-x-r1-li {
    color: rgb(57, 195, 219);
    list-style: none;
}

.picture-x-r1-li:hover .picture-y-w {
    display: block;
}

.picture-z {
    width: 310px;
    height: 200px;
    position: absolute;
    left: 77%;
    transform: translateX(-50%);
    margin-top: -394px;
}

.picture-z-w {
    width: 310px;
    height: 116px;
    border: 1px solid #7b7d8a;
    border-bottom: 5px solid rgb(214, 50, 146);
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    list-style: none;
    text-align: left;
    display: none;
    color: rgb(83, 76, 121);
}

.picture-z:hover .picture-z-w {
    display: block;
}

.picture-z-r {
    height: 45px;
    width: 45px;
    border-radius: 22.5px;
    background-color: rgb(214, 50, 146);
    border: none;
}

.picture-z-r:hover {
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    transition: 1s;
}

.picture-z-r1 {
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(117, 25, 89);
    position: relative;
    left: 60%;
    margin-left: -14px;
}

.picture-z-r1-li {
    color: rgb(173, 96, 150);
    list-style: none;
}

.picture-z-r1-li:hover .picture-y-w {
    display: block;
}

.navigation {
    width: 100%;
    height: 391.4px;
    background-color: rgb(1, 1, 34);
}

.navigation-left {
    height: 100%;
    width: 25%;
    text-align: center;
    list-style: none;
    box-sizing: border-box;
    padding-top: 50px;
    float: left;
}

.navigation-left p {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.navigation-left a {
    color: #7b7d8a;
    text-decoration: none;
}

.navigation-left a:hover {
    color: #fff;
}

.navigation-left li {
    margin-top: 16px;
}

.navigation-mid {
    height: 100%;
    width: 8%;
    float: left;
    list-style: none;
    box-sizing: border-box;
    padding-top: 50px;
}

.navigation-mid p {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.navigation-mid a {
    color: #7b7d8a;
    text-decoration: none;
}

.navigation-mid a:hover {
    color: #fff;
}

.navigation-mid li {
    margin-top: 16px;
}

.navigation-mid-1 {
    width: 16.6%;
    height: 100%;
    float: left;
    list-style: none;
    box-sizing: border-box;
    padding-top: 56px;
}

.navigation-mid p {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.navigation-mid-1 a {
    color: #7b7d8a;
    text-decoration: none;
}

.navigation-mid-1 a:hover {
    color: #fff;
}

.navigation-mid-1 li {
    margin-top: 16px;
}

.navigation-mid-2 {
    height: 100%;
    width: 25.7%;
    float: left;
    box-sizing: border-box;
    padding-top: 50px;
}

.navigation-mid-2-p-1 {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.navigation-mid-2-p {
    color: #7b7d8a;
    margin-top: 16px;
}

.navigation-mid-2-a:hover {
    color: #fff;
    cursor: pointer;
}

.navigation-mid-3 {
    position: relative;
    top: 196px;
    right: 60px;
}

.link-right {
    width: 200px;
    height: 100%;
    float: left;
}

.link-right img {
    position: relative;
    top: 50%;
    margin-top: -20px;
}

.last {
    height: 193px;
    width: 100%;
    border-top: 1px solid #7b7d8a;
    background-color: rgb(1, 1, 34);
}

.last-left {
    height: 39%;
    width: 46%;
    float: left;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 200px;
    position: relative;
    top: 50px;
}

.last-mid {
    height: 61px;
    width: 37%;
    float: left;
    box-sizing: border-box;
    padding-top: 20px;
    position: relative;
    left: -3px;
    top: 51px;
}

.last-mid p {
    color: #7a7b87;
    font-size: 14px;
}

.last-right {
    height: 56%;
    width: 17%;
    float: left;
    list-style: none;
    box-sizing: border-box;
    padding-top: 20px;
    position: relative;
    top: 48px;
    right: 1px;
}

.last-right-bt {
    color: #7a7b87;
    font-size: 12px;
    width: 80px;
    height: 28px;
    background-color: rgb(1, 1, 34);
    border: 1px solid #fff;
    border-radius: 5px;
}

.last-right-bt:hover {
    cursor: pointer;
    color: #fff;
}

.last-right-bt2 {
    color: #7a7b87;
    font-size: 11px;
    width: 80px;
    height: 35px;
    background-color: rgb(1, 1, 34);
    border: 1px solid #fff;
}

.last-right-bt2:hover {
    cursor: pointer;
    color: #fff;
}

.last-right-nav {
    display: none;
    list-style: none;
}

.last-right-li:hover .last-right-nav {
    display: block;
}